asgiref
certifi
charset-normalizer
Django
django-admin-interface
django-colorfield
django-crispy-forms
djangorestframework
idna
mysqlclient
Pillow==9.4.0
python-decouple
pytz
requests
sqlparse
tzdata
urllib3
