{% extends 'app/base.html' %}
{% load static%}

{% block css%}

{% endblock %}
{% block contenido %}
<link type="text/css" rel="stylesheet" href="{% static 'app/css/index.css' %}">
            <!-- Banner -->
            <div id="banner-wrapper">
                <div id="banner" class="box container">
                    <div class="row">
                        <div class="col-7 col-12-medium">
                            <h2>Hola!, Bienvenido a tú terapia Online</h2>
                            <p>Jamás fue tan Sencilla, entretenida y comoda. <br> Todo esto y mas sin salir de tu hogar</p>
                        </div>
                        <div class="col-5 col-12-medium">
                            <img class="image fit" src="static/app/recursos/img/imagen-banner.jpg" alt="imagen-banner">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Features -->
            <div id="features-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-4 col-12-medium">
                            <section class="box feature">
                                <a href="#" class="image featured"><img src="static/app/recursos/img/pic01.jpg" alt="" /></a>
                                <div class="inner">
                                    <header>
                                        <h2>Disfruta de juegos para ayudar a tu memoria</h2>
                                        <p>Estimula tu cerebro</p>
                                    </header>
                                    <p>Estimula tu cerebro con un divertido juego de tarjetas donde podras personalizar las imagenes para que te sientas a gusto.</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-4 col-12-medium">
                            <section class="box feature">
                                <a href="#" class="image featured"><img src="static/app/recursos/img/pic02.jpg" alt="" /></a>
                                <div class="inner">
                                    <header>
                                        <h2>Realiza los test de fonoaudiologia que tu especialista solicite</h2>
                                        <p>Ejercita tu voz</p>
                                    </header>
                                    <p>nose que poner aqui.</p>
                                </div>
                            </section>

                        </div>
                        <div class="col-4 col-12-medium">


                            <section class="box feature">
                                <a href="#" class="image featured"><img src="static/app/recursos/img/pic03.jpg" alt="" /></a>
                                <div class="inner">
                                    <header>
                                        <h2>Consejos de bienestar cada vez que inicies sesión</h2>
                                        <p>Contesta una pequeña y facil encuesta</p>
                                    </header>
                                    <p>Al ingresar a tu sesion recibiras una encuenta con una facil pregunta y al finalizar recibe un agradable consejo que puede cambiar tu dia positivamente.</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}