{% extends 'app/base.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block css%}

{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'app/css/metronomo.css' %}">
<link rel="stylesheet" href="{% static 'app/css//main.css' %}">
<script src="{% static 'app/js/jquery-3.6.1.min.js ' %}"></script>

<!-- Saludo principal -->
<div class="container-padre">
    <div class="">
        <div class="saludo">
            <div class="Bienvenida">
                <h2>Bienvenido</h2>
                <p style="color:#000000;"><strong>Buenos días, Esta semana debes trabajar con"XXXX" BPM, reforzando el cuarto tiempo.</strong></p>
            </div>
        </div>
    </div>
    <!-- metronomo -->
    <div class="container-metronome">
        <div class="metronome">
            <div>
                <div class="bpm-display">
                    <span class="tempo">140</span>
                    <span class="bpm">BPM</span>
                </div>
                <div class="tempo-text">Nice and steady</div>
                <div class="tempo-settings">
                    <div class="adjust-tempo-btn decrease-tempo">-</div>
                    <input type="range" min="20" max="280" step="1" class="slider">
                    <div class="adjust-tempo-btn increase-tempo">+</div>
                </div>
            </div>
            <div class="controlador">
                <!-- <button id="start_stop" class="start-stop" >START</button> -->
                {% comment %} <form method="POST" id="post-form"> {% endcomment %}
                <button onclick="startRecording()" id="start_stop" class="start-stop">Iniciar grabación</button>
                {% comment %} <button onclick="stopRecording()" id="stop">Detener grabación</button> {% endcomment %}
                <audio id="audio" controls></audio>
                {% comment %} <button type="submit" onclick="saveAudio()">GUARDAR grabación</button> {% endcomment %}
                 {% comment %} </form>    {% endcomment %}



                <form method="POST" id="post-form" enctype="multipart/form-data">
                    {% csrf_token %} 
                    <div id="tiempo" >
                        <h3>La grabacion terminara automaticamente en 5 segundos</h3>
                    </div>
                    {% comment %} <button onclick="startRecording()" type="submit" id="start_stop" class="start-stop">Iniciar grabación</button>
                    <button type="submit" id="start_stop" class="start-stop" onclick="MostrarTiempo()">STAhhhRT</button>  {% endcomment %}
                </form>
                <div class="measures">
                    <div class="subtract-beats stepper">-</div>
                    <div class="measure-count">4</div>
                    <div class="add-beats stepper">+</div>
                </div>
                <span class="beats-per-measure-text">Beats per measure</span>
                <div>

                    <p class="duracion" id="duracion">--Duración--</p>

                </div>

            </div>
        </div>
    </div>

    <!-- Saludo principal -->

    <div class="">
        <div class="saludo2">
            <div class="Bienvenida">
                <h2>Recuerda</h2>
                <p style="color:#000000"><strong>Al Ejercitar, debes respirar por la nariz y  tus ejercicios deben durar 5 minutos aproximadamente</strong></p>


            </div>
        </div>
    </div>
</div>
<div class="container-mic">
    <div class="selector-audio">
        <select name="listaDeDispositivos" id="listaDeDispositivos"></select>
    </div>
</div>

<br>
<br>
<br>


<script>
     {% comment %} function MostrarTiempo() {
        document.getElementById('tiempo').style.display = 'block';
        document.getElementById('start_stop').style.display = 'none';
        start_stop
        console.log("Hola muindoooooooooooooooo");
    }  {% endcomment %}    



    {% comment %} console.log("poooooooooooooooop");


    let recorder;
    let audio = document.getElementById("audio");
    
    
    function stopRecording() {
      recorder.stop();
    }
    
    
    function startRecording() {
      navigator.mediaDevices.getUserMedia({ audio: true })
        .then(stream => {
          recorder = new MediaRecorder(stream);
          recorder.start();
    
          let chunks = [];
          recorder.addEventListener("dataavailable", event => {
            chunks.push(event.data);
          });
    
          recorder.addEventListener("stop", () => {
            console.log(chunks);
            var blob = new Blob(chunks, { type: "audio/mp3" });
    
            console.log(blob);
    
            
            // Crea un nuevo objeto FormData
            const formData = new FormData();

            // Añade el archivo BLOB al objeto FormData con un nombre específico
            formData.append('file', blob, "audio/mp3");

            // Hace una solicitud POST al servidor Django usando el método fetch
            fetch('/save_audio/', {
             method: 'POST',
             body: formData });

            console.log('seee envio')


            audio.src = URL.createObjectURL(blob);
            audio.controls = true;
            audio.autoplay = true;
            console.log(audio)
 {% endcomment %}



          });










          







        });
    }
    











    {% comment %} function saveAudio() {
        let audio = document.getElementById("audio");
    
        let formData = new FormData();
        formData.append("file", audio.src);
    
        let xhr = new XMLHttpRequest();
    
         
        
        xhr.open("POST", "{% url 'save_audio' %}");
    
        xhr.send(formData);
        console.log("aaaaa")
      }  {% endcomment %}




</script> 





<script src="{% static 'app/js/microfono.js' %}"></script> 
<script src="{% static 'app/js/metronomo.js' %}"></script>
{% comment %} <script src="{% static 'app/js/newMicrofono.js' %}"></script> {% endcomment %}
<script src="{% static 'app/js/jquery.min.js' %}"></script>
<script src="{% static 'app/js/jquery.dropotron.min.js' %}"></script>



{% endblock %}